@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */

body {
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f8fafc; /* Light gray background */
  color: #333333; /* Dark gray text color */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
}

p {
  line-height: 1.6;
}
